/* {include ../../system/css/reset.css} */
/* {include ../../system/css/common.css} */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	touch-action: none;
	overflow: hidden;
}

body {
	background: #484848 url('./sgrz.jpg') no-repeat center/cover;
}

#extra {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 640px;
	height: 480px;
	transform: translate(-50%, -50%);
	text-align: left;
	background: #fff;
}

#extra {
	background: #000;
}

#extra .layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 640px;
	height: 480px;
	z-index: 10;
}

#fork {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 356px;
	height: 92px;
	cursor: pointer;
	background-image: url(fork.gif);
	z-index: 0;
}

#desc {
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	height: 80px;
	color: #ccc;
	line-height: 40px;
	margin-top: 200px;
	text-align: center;
	font-size: 14px;
}

#desc a {
	color: #318fe1;
}

#browser {
	font-size: 14px;
	line-height: 16px;
}

#browser .b {
	color: #fff;
	font-weight: 700;
}